openapi: 3.0.0
info:
  title: SD Recruitment
  version: 0.0.1
servers:
  - url: https://api.sdr.co.za/v1
    description: production server for SD Recruitment
  - url: https://staging.api.sdr.co.za/v1
    description: internal staging server for testing
security:
  - bearerAuth: []
paths:
  /nurses:
    get:
      operationId: GetNurses
      summary: returns a list of nurses
      tags:
        - Nurses
      responses:
        '200':
          description: a JSON array of nurses object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfNurses'
              examples:
                nurses:
                  $ref: '#/components/examples/ListOfNurses'
        '401':
          description: Unauthorized request
  /nurses/auth/login:
    post:
      operationId: LoginNurse
      summary: Logs a nurse into the system
      security: []
      tags:
        - Nurses
      responses:
        '200':
          description: |-
            a JWT access token and refresh token 
            to be used to be used in subsequent requests that require
            authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JwtTokenPair'
              examples:
                jwtTokenPair:
                  $ref: '#/components/examples/JwtTokenPair'
        '400':
          description: A bad request, indicating error in user provided data
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                problem:
                  $ref: '#/components/examples/ProblemDetails'
  /nurses/auth/signup:
    post:
      operationId: SignUpNurse
      summary: Registers a new nurse into the system
      security: []
      tags:
        - Nurses
      responses:
        '200':
          description: a successful response indicating that a nurse has been successfully registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Nurse'
              examples:
                nurse:
                  $ref: '#/components/examples/Nurse'
        '400':
          description: an error response indicating issues with user provided details
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                nurse:
                  $ref: '#/components/examples/ProblemDetails'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ListOfNurses:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
        required:
          - id
          - name
    JwtToken:
      type: object
      properties:
        token:
          type: string
        expiresAt:
          type: integer
          format: int64
    JwtTokenPair:
      type: object
      properties:
        access:
          $ref: '#/components/schemas/JwtToken'
        refresh:
          $ref: '#/components/schemas/JwtToken'
      required:
        - access
        - refresh
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        detail:
          type: string
        status:
          type: string
        instance:
          type: string
        errors:
          type: object
        extensions:
          type: object
    Nurse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        surname:
          type: string
  examples:
    ListOfNurses:
      value:
        id: '1'
        name: John Doe
    JwtTokenPair:
      value:
        access:
          token: jwt token
          expiresAt: 1699920910
        refresh:
          token: jwt token
          expiresAt: 1699920910
    ProblemDetails:
      value:
        type: type
        title: title
        detail: details
        status: '400'
        instance: instance
        errors:
          errorField1: field is required
          errorField2: field must have a minimum length of 10
        extensions:
          customExtendion1: string
          customExtension2: string
    Nurse:
      value:
        id: '1'
        name: John
        surname: Doe
